@model CompaniesNews
<h2>News</h2>
<h4>Run symbols and save data if the drop down list is empty</h4>
<hr />
<form asp-controller="Home" asp-action="News" method="get">
    <select name="symbol">
        @foreach (var company in Model.Companies)
        {
            <option value=@company.symbol selected>@company.name</option>
        }
    </select>
    <input type="submit" value="Get News" />
</form>
@if (Model.news != null)
{
    var info = Model.news;
    <hr />
    <table>
        <tbody>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
                                Date and Time
                            </td>
                            <td>
                                @info.datetime
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Head Line
                            </td>
                            <td>
                                @info.headline
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Source
                            </td>
                            <td>
                                @info.source
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Url
                            </td>
                            <td>
                                <a href="@info.url">@info.url</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Summary
                            </td>
                            <td>
                                @info.summary
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Related Information
                            </td>
                            <td>
                                @info.related
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Image Link
                            </td>
                            <td>
                                <a href="@info.image">@info.image</a>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <div>
                        <canvas id="myChart" height="500" width="800"></canvas>
                    </div>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
}