@model CompaniestoInvest

<form asp-controller="Home" asp-action="StockstoInvest" method="get">
    <select name="symbol">
        @foreach (var company in Model.Companies)
        {
            <option value=@company.symbol selected>@company.name</option>
        }
    </select>
    <input type="submit" value="Get Decision" />
</form>
@if (Model.stockstoinvest != null)
{
    var info = Model.stockstoinvest;
    <hr />
    <table>
        <tbody>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
                                Decision
                            </td>
                            <td>
                                @info.decision
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Latest Price
                            </td>
                            <td>
                                @info.latestPrice
                            </td>
                        </tr>
                        <tr>
                            <td>
                                52-week High
                            </td>
                            <td>
                                @info.week52High
                            </td>
                        </tr>
                        <tr>
                            <td>
                                52-week Low
                            </td>
                            <td>
                                @info.week52Low
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Symbol
                            </td>
                            <td>
                                @info.symbol
                            </td>
                        </tr>

                    </table>
                </td>
                <td>
                    <div>
                        <canvas id="myChart" height="500" width="800"></canvas>
                    </div>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
}